body
{
   background-color: #FFFFFF;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 16px;
   line-height: 1.1875;
   margin: 0;
   padding: 0;
}
#Picture1
{
   border: 0px solid #000000;
   border-radius: 0px;
   box-sizing: border-box;
   padding: 0;
   object-fit: scale-down;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_Text1 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: right;
}
#wb_Text1 div
{
   text-align: right;
}
#MergedObject2
{
   border-width: 0;
   position: absolute;
   left: 0px;
   top: 0px;
   width: 1366px;
   height: 113px;
   z-index: 2;
}
#MergedObject1
{
   border-width: 0;
   position: absolute;
   left: 0px;
   top: 502px;
   width: 1366px;
   height: 164px;
   z-index: 1;
}
#wb_Picture1
{
   position: absolute;
   left: 192px;
   top: 154px;
   width: 586px;
   height: 358px;
   z-index: 0;
}
#wb_Text1
{
   position: absolute;
   left: 586px;
   top: 613px;
   width: 384px;
   height: 18px;
   text-align: right;
   z-index: 3;
}
@media only screen and (min-width: 1366px)
{
body
{
   background-color: #FFFFFF;
   background-image: none;
}
#wb_Picture1
{
   left: 390px;
   top: 158px;
   width: 586px;
   height: 358px;
   visibility: visible;
   display: inline;
   margin: 0;
   padding: 0;
}
#MergedObject1
{
   left: 0px;
   top: 502px;
   width: 1366px;
   height: 164px;
   visibility: visible;
   display: inline;
}
#MergedObject2
{
   left: 0px;
   top: 0px;
   width: 1366px;
   height: 113px;
   visibility: visible;
   display: inline;
}
#wb_Text1
{
   left: 586px;
   top: 613px;
   width: 384px;
   height: 18px;
   visibility: visible;
   display: inline;
}
#wb_Text1
{
   margin: 0;
   padding: 0;
}
}
@media only screen and (min-width: 768px) and (max-width: 1365px)
{
body
{
   background-color: #FFFFFF;
   background-image: none;
}
#wb_Picture1
{
   left: 91px;
   top: 128px;
   width: 586px;
   height: 358px;
   visibility: visible;
   display: inline;
   margin: 0;
   padding: 0;
}
#MergedObject1
{
   left: 0px;
   top: 502px;
   width: 1366px;
   height: 164px;
   visibility: visible;
   display: inline;
}
#MergedObject2
{
   left: 0px;
   top: 0px;
   width: 1366px;
   height: 113px;
   visibility: visible;
   display: inline;
}
#wb_Text1
{
   left: 586px;
   top: 613px;
   width: 384px;
   height: 18px;
   visibility: visible;
   display: inline;
}
#wb_Text1
{
   margin: 0;
   padding: 0;
}
}
@media only screen and (max-width: 767px)
{
body
{
   background-color: #FFFFFF;
   background-image: none;
}
#wb_Picture1
{
   left: 192px;
   top: 48px;
   width: 586px;
   height: 358px;
   visibility: visible;
   display: inline;
   margin: 0;
   padding: 0;
}
#MergedObject1
{
   left: 0px;
   top: 502px;
   width: 1366px;
   height: 164px;
   visibility: visible;
   display: inline;
}
#MergedObject2
{
   left: 0px;
   top: 0px;
   width: 1366px;
   height: 113px;
   visibility: visible;
   display: inline;
}
#wb_Text1
{
   left: 586px;
   top: 613px;
   width: 384px;
   height: 18px;
   visibility: visible;
   display: inline;
}
#wb_Text1
{
   margin: 0;
   padding: 0;
}
}
