body
{
   background-color: #FFFFFF;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 16px;
   line-height: 1.1875;
   margin: 0;
   padding: 0;
}
#FlexGrid1
{
   display: grid;
   width: 100%;
   background-color: transparent;
   background-image: none;
   border: 0px solid #CCCCCC;
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   font-size: 0;
   grid-template-columns: 1fr 1fr 1fr 1fr;
   grid-template-rows: 100px auto 100px;
   grid-template-areas:
      "header header header header"
      "main main main main"
      "footer footer footer footer";
}
#FlexGrid1 .header
{
   display: flex;
   grid-area: header;
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   padding: 0;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: space-around;
   align-items: center;
   align-content: center;
}
#FlexGrid1 .main
{
   display: flex;
   grid-area: main;
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   padding: 0;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: flex-start;
   align-items: center;
   align-content: center;
}
#FlexGrid1 .footer
{
   display: flex;
   grid-area: footer;
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   padding: 0;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;
   align-content: center;
}
#wb_Card1
{
   position: relative;
   display: flex;
   flex-direction: column;
   flex-grow: 1;
   flex-shrink: 1;
   flex-basis: 0%;
   align-self: auto;
   min-height: 120px;
   box-sizing: border-box;
   margin: 0;
   max-width: 280px;
   background-color: #FFFFFF;
   background-image: none;
   border: 1px solid #DEE2E6;
   border-radius: 3px;
   text-align: center;
}
#Card1-card-body
{
   padding: 0;
   flex: 1 1 auto;
   font-size: 0;
}
#Card1-card-header
{
   box-sizing: border-box;
   border-bottom: 1px solid #DEE2E6;
   border-radius: 3px 3px 0 0 !important;
   margin: 0;
   padding: 12px 20px 12px 20px;
   background-color: #000000;
   background-image: none;
   color: #FFFFFF;
   font-family: "Noto Sans";
   font-weight: 900;
   font-style: normal;
   font-size: 19px;
   text-align: center;
}
#Card1-card-item1
{
   box-sizing: border-box;
   margin: 4px 0 0 0 ;
   padding: 0;
   border: 0px solid #000000;
   border-radius: 0px;
   max-width: 100px;
   margin-left: auto;
   margin-right: auto;
   width: 100%;
   height: 100px;
}
#CardContainer1
{
   display: flex;
   position: relative;
   padding: 10px 10px 10px 10px;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: flex-start;
   align-items: stretch;
   align-content: flex-start;
   margin: 0;
   background-color: #FFFFFF;
   background-image: none;
   border: 0px solid #DEE2E6;
   border-radius: 0px;
   box-sizing: border-box;
   font-size: 0;
}
@media all and (max-width:480px) 
{
#CardContainer1
{
   flex-direction: column;
   flex-wrap: nowrap;
}
}
#wb_Card2
{
   position: relative;
   display: flex;
   flex-direction: column;
   flex-grow: 1;
   flex-shrink: 1;
   flex-basis: 0%;
   align-self: auto;
   min-height: 120px;
   box-sizing: border-box;
   margin: 0;
   max-width: 280px;
   background-color: #FFFFFF;
   background-image: none;
   border: 1px solid #DEE2E6;
   border-radius: 3px;
   text-align: center;
}
#Card2-card-body
{
   padding: 0;
   flex: 1 1 auto;
   font-size: 0;
}
#Card2-card-header
{
   box-sizing: border-box;
   border-bottom: 1px solid #DEE2E6;
   border-radius: 3px 3px 0 0 !important;
   margin: 0;
   padding: 12px 20px 12px 20px;
   background-color: #000000;
   background-image: none;
   color: #FFFFFF;
   font-family: "Noto Sans";
   font-weight: 900;
   font-style: normal;
   font-size: 19px;
   text-align: center;
}
#Card2-card-item1
{
   box-sizing: border-box;
   margin: 4px 0 0 0 ;
   padding: 0;
   border: 0px solid #000000;
   border-radius: 0px;
   max-width: 100px;
   margin-left: auto;
   margin-right: auto;
   width: 100%;
   height: 130px;
}
