body
{
   background-color: #FFFFFF;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 16px;
   line-height: 1.1875;
   margin: 0;
   padding: 0;
}
#PageHeader1
{
   background-color: #F8F9FA;
   background-image: none;
   border-radius: 0px;
   box-sizing: border-box;
}
#PhotoGallery1
{
   border-spacing: 0px;
   font-size: 0;
   width: 100%;
   height: 100%;
   margin: 0;
}
#PhotoGallery1 .thumbnail
{
   padding: 2px 2px 2px 2px;
   text-align: center;
   vertical-align: top;
}
#PhotoGallery1 .caption
{
   color: #212529;
   font-family: "Noto Sans";
   font-weight: normal;
   font-size: 16px;
   font-style: normal;
   margin: 0;
   text-align: center;
   text-decoration: none;
   padding: 3px 0 0 0;
   position: relative;
}
#PhotoGallery1 .description
{
   color: #000000;
   font-weight: normal;
   font-size: 11px;
   font-style: normal;
   text-align: center;
}
#PhotoGallery1 .thumbnail a
{
   display: block;
   position: relative;
}
#PhotoGallery1 .thumbnail a:hover .caption
{
   opacity: 1
}
#PhotoGallery1 .thumbnail img
{
   border: 1px solid #4F4F4F;
   box-sizing: border-box;
   border-radius: 10px;
}
#PhotoGallery1_img0
{
   width: 149px;
   height: 149px;
}
#PhotoGallery1_img1
{
   width: 149px;
   height: 149px;
}
#wb_Image1
{
   vertical-align: top;
}
#Image1
{
   border: 0px solid #000000;
   border-radius: 0px;
   box-sizing: border-box;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   object-fit: contain;
}
#PageFooter1
{
   background-color: #F8F9FA;
   background-image: none;
   border-radius: 0px;
   box-sizing: border-box;
}
